<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block body %}
            <div>
            {{ render(controller('App\\Controller\\CvController::postCv')) }}
            </div>
        {% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
